html
{
	
}
body
{
	background-color: #95B1E5;
}
#superglobal
{
	
}

.content
{
	background-color: #CFDCF3;
	border: 2px #0F056B solid;
	padding: 5px;
}

#header
{
	
	padding: 5px;
	font-size: 48px;
	font-family: Verdana;
}


#global
{
	
}

#footer
{
	text-align: center;
	padding: 3px;
	font-size: 12px;
	margin-top: 10px;
}

.clearfix
{
	clear: both;
}


/* Account Page */

#div_account .leftcol
{
	float: left;
	width: 49%;
}

#div_account .rightcol
{
	width: 49%;
	float: right;
}

/* Login Page */

#div_login
{
	width: 300px;
	text-align: center;
	margin: auto;
}
#div_login tr td:first-child
{
	text-align: right;
}
#div_login tr td:last-child
{
	text-align: left;
}

.input_prefilled
{
	font-style: italic;
	color: silver;
}