#admin table
{
	width: 100%;
}

#admin td, #admin th
{
	vertical-align: top;
	text-align: center;
}
#admin th
{
	text-align: center;
}

#admin_panel td li
{
	list-style-type: none;
}

#admin_panel .colleft
{
	float: left;
	width: 300px;
	margin-left: 5px;
}

#admin_panel .colleft ul li
{
	list-style-type: none;
}
		
#admin_panel .colright
{
	float: right;
	width: 600px;
	
	margin-right: 5px;
}

#admin_panel .colright div
{
	display: none;
}